package server


import (

pb "github.com/{{.GithubName}}/{{.ServiceName}}/proto/{{.ServiceName}}/v1"

)


type server struct {
pb.Unimplemented{{.ServiceName}}Server

logger *zap.Logger

}

type config struct {
addr string
RequestTimeout    time.Duration
	ReadTimeout       time.Duration
	ReadHeaderTimeout time.Duration
	WriteTimeout      time.Duration
	IdleTimeout       time.Duration
	GracefulTimeout   time.Duration
	HealthCheckFunc   func() bool


}

func New() *server {
    return &server{}
}

func 