package domain

import (
	"context"

    pb "github.com/{{.GithubName}}/{{.ServiceName}}/proto/{{.ServiceName}}/v1"
)




type dataStore struct {
	
}

func New(store storer) *dataStore {
	return &dataStore{
		
	}
}

