package datastore

import (
	"context"

    pb "github.com/{{.GithubName}}/{{.ServiceName}}/datastore"
)

type dataStore struct {
	//Add your database client here...

}

func New() (*dataStore, error) {

//Create your database connection here...


	return &dataStore{
		//
	}, nil
}

